@import "../../styles/mixins.scss";

.skill-container{
    width: 860px;
    margin-top: 1em;
    .profile-page-header{
        @include headerStyle();
    }
    span{
        color: #999999
    }
    .skill-main-info{
        display: flex;
        gap: 1em;
        font-size: 24px;
        margin-top: 1em;
        p{margin: .5em}
        img{
            width: 100px;
            height: 100px;
        }
    }
    .skill-main-discription{
        font-size: 21px;
    }
}


@media screen and (max-width: 960px) {
    .skill-container{
        width: 90% !important;
    }
}

@media screen and (max-width: 500px) {
    .skill-container{
        .profile-page-header{
            p{
                font-size: 28px !important;
            }
        }
        .skill-main-info{
            font-size: 18px !important;
        }
        .skill-main-discription{
            font-size: 18px !important;
        }
    }
}
@media screen and (max-width: 400px) {
    .skill-container{
        .profile-page-header{
            p{
                font-size: 24px !important;
            }
        }
        .skill-main-info{
            img{
                width: 70px !important;
                height: 70px !important;
            }
        }

    }
}