@import "../../styles/mixins.scss";

.item-page{
    width: 860px;
    padding: 1em;
    box-sizing: border-box;
    overflow-y: auto;
    &-header{
        @include headerStyle();
    }
    .main-info-block{
        display: flex;
        margin-top: 1em;
        width: 100%;
        gap: 2em;
        .icon{
            position: relative;
            .animate-icon{
                width: 150px;
                height: 150px;
                img{
                    width: 90%;
                    height: 90%;
                }
            }
            .profit{
                display: flex;
                gap: .5em;
                font-size: 20px;
                align-items: center;
                justify-content: center;
                margin: 0;
                margin-top: .5em;
                .coin-icon{
                    width: 20px;
                    height: 20px;
                }
            }
            p.learn{
                position: absolute;
                margin: 0;
                font-size: 30px;
                text-align: center;
                left: .5em;
                bottom: 1em;
                z-index: 5;
            }
            .skill-img{
                position: absolute;
                width: 50px;
                height: 50px;
                top: -10px;
                left: -10px;
                z-index: 2;
                cursor: pointer;
            }
        }
        .info{
            display: grid;
            gap: .5em;
            align-content: start;
            .info-item{
                display: flex;
                align-items: center;
                align-content: center;
                gap: .5em;
                margin: 0;
                font-size: 24px;
                .class{
                    color: #9999bb;
                    margin: 0;
                    cursor: pointer;
                }
                span{color: #9999bb}
                .info-formula{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    box-sizing: border-box;
                    gap: .5em;
                    p{margin: 0}
                    .coin-block{
                        display: flex;
                        align-items: center;
                        gap: .2em;
                        .coin-icon{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    .description-block{
        display: flex;
        gap: 2em;
        padding: 1em;
        .description-title{
            font-size: 24px;
            margin: 0;
        }
        .description-text{
            margin: 0;
        }

    }
    .line-buttons{
        display: flex;
        align-items: center;
        gap: 1em;
        justify-content: space-between;
        .create-button{
            display: flex;
            align-items: center;
            gap: 1em;
        }
        .coin-icon{
            width: 18px;
            height: 18px;
        }
    }
}



@media screen and (max-width: 900px) {
    .item-page{
        width: 760px !important;
    }
}
@media screen and (max-width: 800px) {
    .item-page{
        width: 700px !important;
    }
}
@media screen and (max-width: 700px) {
    .item-page{
        width: 600px !important;
    }
}
@media screen and (max-width: 600px) {
    .item-page{
        width: 500px !important;
        &-header{
            p{
                font-size: 30px;
            }
        }
        .main-info-block{
            .icon{
                .animate-icon{
                    width: 110px;
                    height: 110px;
                }
                .skill-img{
                    width: 40px;
                    height: 40px;
                }
            }
            .profit{
                font-size: 16px !important;
            }
            .info{
                .info-item{
                    font-size: 18px;
                }
            }
        }
        .description-block{
            .description-title{
                font-size: 18px;
            }
            .description-text{
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .item-page{
        width: 400px !important;
        .line-buttons{
            display: block;
        }
        .main-info-block{
            gap: 1em;
            .icon{
                .animate-icon{
                    width: 90px;
                    height: 90px;
                }
                .skill-img{
                    width: 35px;
                    height: 35px;
                }
            }
        }
        .description-block{
            display: grid;
            padding: 1em 0;
            gap: .5em;
            .description-text{
                color: #c1c1c6;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .item-page{
        width: 350px !important;
        &-header{
            p{
                font-size: 26px !important;
            }
        }
        .main-info-block{
            display: grid;
            justify-content: center;
            justify-items: center;
            gap: .5em;
            .info{
                width: 100%;
                .info-item{
                    width: 100%;
                    justify-content: space-between;
                }
            }
            .icon{
                .animate-icon{
                    width: 200px;
                    height: 200px;
                }
                .skill-img{
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .description-block{
            display: grid;
            padding-bottom: 1em;
            padding-top: 1.5em;
            gap: .5em;
            .description-title{
                font-size: 28px;
                text-align: center;
            }
            .description-text{
                text-align: justify;
            }
        }
        .control-block{
            display: grid !important;
            justify-content: center;
        }
    }
}
@media screen and (max-width: 350px) {
    .item-page{
        .button-container{
            p{
                font-size: 18px !important;
            }
        }
        .create-button{
            display: block !important;
            p{
                width: 100%;
                text-align: center;
                margin: 0 0 1em 0; 
            }
        }
        width: 300px !important;
    }
}
@media screen and (max-width: 300px) {
    .item-page{
        width: 250px !important;
        &-header{
            .back-icon{
                width: 30px !important;
                height: 30px !important;
            }
            p{
                font-size: 20px !important;
            }
        }
        .main-info-block{
            .icon{
                .animate-icon{
                    width: 150px;
                    height: 150px;
                }
                .skill-img{
                    width: 45px;
                    height: 45px;
                }
            }
            .info{
                &-item{
                    font-size: 15px !important;
                }
            }
        }
        .description-block{
            .description-title{
                font-size: 22px;
            }
            .description-text{
                text-align: justify;
                font-size: 12px;
            }
        }
        .control-block{
            display: grid !important;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 250px) {
    .item-page{
    padding: 0;
        width: 200px !important;
    }
}