.newskill-container{
    display: grid;
    justify-items: center;
    justify-content: center;
    .newskill-title{
        font-size: 28px;
        text-align: center;
    }
    .newskill-image{
        position: relative;
        .newskill-main-img{
            width: 100px;
            height: 100px;
        }
        .aura-container{
            top: 10px;
            overflow: visible;
        }
    }
    .newskill-name{
        padding: .5em;
    }
    .button-container{
    }
}

@media screen and (max-width: 400px) {
    .newskill-title{
        p{
            font-size: 24px;
        }
    }
    .newskill-container{
        .button-container{
            width: 250px !important;
            min-width: 250px !important;
            height: 76px !important;
            img{
                width: 250px !important;
                height: 76px !important;
            }
            p{

            }
        }
    }
}