.chest-body{
    display: grid;
    justify-content: center;
    justify-items: center;
    height: 285px;
    .main-icon{
        display: grid;
        .animate-icon{
            img{
                width: 100%;
                height: 100%;
            }
        }
        &.open{
            width: 90px;
            height: 90px;
        }
        &.closed{
            width: 120px;
            height: 120px;
        }
        .prize-place{
            position: absolute;
            img{
                position: absolute;
                animation: spring 1s forwards;
            }
            .prize-place-item-0{
                animation: levitation 1.5s .0s ease-in-out forwards infinite;
                img{
                    width: 35px;
                    height: 35px;
                    top: 10px;
                    left: 20px;
                }
            }
            .prize-place-item-1{
                animation: levitation 1.5s .3s ease-in-out forwards infinite;
                img{
                    width: 45px;
                    height: 45px;
                    top: 40px;
                    left: 0px;
                }
            }
            .prize-place-item-2{
                animation: levitation 1.5s .6s ease-in-out forwards infinite;
                img{
                    width: 35px;
                    height: 35px;
                    top: 25px;
                    left: 45px;
                }
            }
        }
    }
    .link-to-list-items{
        display: flex;
        align-items: center;
        gap: 1em;
        cursor: pointer;
        margin: 1em;
        &:hover{
            filter: brightness(1.1);
        }
        p{margin: 0}
    }
    .prize-list-container{
        display: grid;
        width: 250px;
        height: 100%;
        overflow-y: auto;
        align-items: flex-start;
        align-content: flex-start;
        .prize-title{
            display: grid;
            align-items: center;
            justify-content: center;
            margin: 0;
            margin-top: .5em;
            gap: 1em;
            font-size: 24px;
        }
        .prize-list{
            display: grid;
            .prize-item{
                display: flex;
                align-items: center;
                gap: 1em;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    
    .button-container{
        margin-top: 0;
    }
}

@keyframes spring {
    0%{
        transform: scale(0);
    }
    30%{
        transform: scale(1.6);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes levitation {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}