@mixin headerStyle() {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 1em;
    img.back-icon{
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover{
            filter: brightness(1.1);
        }
    }
    p{
        width: 100%;
        font-size: 36px;
        margin: 0;
        box-sizing: border-box;
    }
}