.control-bar{
    position: absolute;
    bottom: 1em;
    padding: 0 1em;
    box-sizing: border-box;
    width: 100%;
    gap: 1em;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
    &.active-bar{
    }
    .workshop{
        &.active{
            z-index: 205;
        }
    }
}


@media screen and (max-width: 800px) {
    .control-bar{
        bottom: .5em;
        .button-container{
            width: 200px !important;
            min-width: 200px !important;
            height: 61px !important;
            min-height: 61px !important;
            .button-bg{
                width: 200px;
                height: 60px;
            }
            p{
                font-size: 24px;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .control-bar{
        gap: .5em;
        
        .button-container{
            width: 155px !important;
            min-width: 155px !important;
            height: 47px !important;
            min-height: 47px !important;
            .button-bg{
                width: 155px;
                height: 47px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 340px) {
    .control-bar{
        display: grid;
        gap: .5em;
    }
}