.inventory-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%; 
    padding-bottom: 6em;
    overflow-y: auto;
    .inventory-header{
        margin-top: 1em;
        p{
            width: 100%;
            font-size: 36px;
            margin: 0;
            text-align: center;
        }
    }
    .inventory-items{
        display: flex;
        justify-content: flex-start;
        justify-items: center;
        width: 1300px;
        padding: 1em;
        box-sizing: border-box;
        gap: .5em;
        flex-wrap: wrap;
        .inventory-item{
            position: relative;
            width: 90px;
            height: 90px;
            cursor: pointer;
            .inventory-item-link{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 105;
            }
            .inventory-item-level{
                position: absolute;
                display: grid;
                top: calc(100% - 33px);
                left: calc(100% - 35px);
                font-size: 36px;
                width: 36px;
                height: 36px;
                color: #ccccff;
                align-content: center;
                justify-content: end;
                text-shadow: .04em 0 #000, -.04em 0 #000, 0 .04em #000, 0 -.04em #000;
                z-index: 1;
                &.max-level{
                    color: #fcc051;
                    text-shadow: .04em 0 #000, -.04em 0 #000, 0 .04em #000, 0 -.04em #000;
                }
            }
            .animate-icon{
                width: 100%;
                height: 100%;
                img{
                    width: 90%;
                }
            }
            .empty-item{
                width: 100%;
                height: 100%;
                border: 2px solid #999999;
            }
            .item-profit{
                position: absolute;
                opacity: 0;
                top: 10px;
                left: 20px;
                font-size: 24px;
                color: #FF00FF;
                z-index: 11;
                &.active{
                    animation: disappearance .9s 1 forwards;
                    opacity: 1;
                    cursor: auto;
                }
            }
            &.active1{
                .animate-icon{
                    img{
                        animation: bounce1 .1s 1 forwards;
                    }
                }
            }
            &.active2{
                .animate-icon{
                    img{
                        animation: bounce2 .1s 1 forwards;
                    }
                }
            }
        }
    }
}

@keyframes disappearance {
    0%{
        top: 10px;
        opacity: 1;
    }    
    100%{
        top: -50px;
        opacity: 0;
    }
}
@keyframes bounce1 {
    0%{
        scale: 1;
    }  
    50%{
        scale: 1.1;
    }  
    100%{
        scale: 1;
    }
}
@keyframes bounce2 {
    0%{
        scale: 1;
    }  
    50%{
        scale: 1.1;
    }  
    100%{
        scale: 1;
    }
}

@media screen and (max-width: 1360px) {
    .inventory-items{
        width: 1200px !important;
    }
}
@media screen and (max-width: 1280px) {
    .inventory-items{
        width: 1010px !important;
    }
}
@media screen and (max-width: 1100px) {
    .inventory-items{
        width: 820px !important;
    }
}
@media screen and (max-width: 950px) {
    .inventory-items{
        width: 720px !important;
    }
}
@media screen and (max-width: 800px) {
    .inventory-items{
        width: 630px !important;
    }
}
@media screen and (max-width: 700px) {
    .inventory-items{
        width: 520px !important;
    }
}
@media screen and (max-width: 600px) {
    .inventory-header{
        p{
            font-size: 32px !important;
        }
    }
    .inventory-items{
        width: 420px !important;
    }
}
@media screen and (max-width: 500px) {
    .inventory-container {
        .inventory-item{
            width: 90px !important;
            height: 90px !important;
        }
    }
}

@media screen and (max-width: 450px) {
    .inventory-container {
        .inventory-items{
            width: 380px !important;
            .inventory-item{
                width: 80px !important;
                height: 80px !important;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    
    .inventory-container {
        .inventory-header{
            p{
                font-size: 28px !important;
            }
        }
        .inventory-items{
            width: 300px !important;
        }
    }
}

@media screen and (max-width: 340px) {
    .inventory-container {
        padding-bottom: 8em;
       .inventory-items{
            width: 290px !important;
        }
    }
}
@media screen and (max-width: 300px) {
    .inventory-container {
        .inventory-header{
            p{
                font-size: 24px !important;
            }
        }
       .inventory-items{
            width: 230px !important;
            .inventory-item{
                width: 60px !important;
                height: 60px !important;
            }
        }
    }
}
@media screen and (max-width: 250px) {
    .inventory-container {
        .inventory-header{
            p{
                font-size: 20px !important;
            }
        }
       .inventory-items{
            width: 200px !important;
            .inventory-item{
                width: 80px !important;
                height: 80px !important;
            }
        }
    }
}
