.window-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0008;
    z-index: 99;
    .window-block{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        transform: translate(-50%, -50%);
        z-index: 110;
        .window-block-background{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .window-block-close{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            z-index: 111;
            &:hover{
                filter: brightness(1.1);
            }
        }
        .window-content{
            position: absolute;
            top: 1em;
            left: 1em;
            right: 1em;
            bottom: 1em;
            .window-header{
                display: flex;
                width: 100%;
                align-items: center;
                box-sizing: border-box;
                padding: 1.3em;
                p{
                    flex: 1;
                    margin: 0;
                    font-size: 24px;
                    text-align: center;
                }
                img{
                    position: absolute;
                    cursor: pointer;
                }
            }
            .window-body{
                display: grid;
                justify-content: center;
                justify-items: center;
                align-content: space-between;
                height: 285px;
                .main-icon{
                    display: grid;
                    width: 100px;
                    height: 100px;
                    .animate-icon{
                        img{
                            width: 90%;
                            height: 90%;
                        }
                    }
                    .animate-delete{
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: -100px;
                            animation: anim-delete 1s steps(8) forwards;
                        }
                    }
                }
                .delete-line, .accept-line{
                    text-align: center;
                    padding: 0 1em;
                }
                
                .level-line{
                    margin: .3em 0;
                    text-align: center;
                }
                .profit-line{
                    display: flex;
                    gap: .5em;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 0;
                    .coin-icon{
                        width: 20px;
                        height: 20px;
                    }
                    p{
                        margin: 0;
                        color: #c1c1c1;
                    }
                    .formula-item{
                        display: grid;
                        width: 30px;
                        height: 30px;
                        img{
                            width: 90%;
                            height: 90%;
                        }
                    }
                    .plus{
                        margin: 0;
                        color: #888888;
                        font-size: 24px;
                    }
                }

            }
            .empty-body{
                align-content: flex-start;
                justify-items: start;
                gap: .7em;
                .empty-body-ctg-item{
                    margin: 0;
                    text-align: left;
                    font-size: 24px;
                    width: 250px;
                }
                .empty-body-items-item{
                    cursor: pointer;
                }
                &.all-items{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    box-sizing: border-box;
                    flex-wrap: wrap;
                    padding: 1em;
                    padding-top: 0;
                    gap: .7em;
                    width: 360px;
                    height: 280px;
                    overflow-y: auto;
                    .animate-icon{
                        display: flex;
                        align-content: center;
                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes anim-delete {
    0% {
        object-position: 0;
    }
    100% {
        object-position: -800px;
    }
}