.error-container{
    display: grid;
    justify-items: center;
    img{
        width: 100px;
        height: 100px;
    }
    p{
        text-align: center;
        font-size: 24px;
    }
    a{
        color: #9999aa;
        text-decoration: none;
    }
}