@import "../../styles/mixins.scss";

.achievement-container{
    width: 860px;
    .achievement-page-header{
        @include headerStyle();
    }
    .achievement-items{
        display: grid;
        gap: 1em;
        margin: 2em 0 2em 0;
        .achievement-item{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5em;
            box-sizing: border-box;
            gap: 1em;
            opacity: .5;
            p{
                margin: 0
            }
            .pocket-icon{
                display: flex;
                font-size: 32px;
                gap: .5rem;
                align-items: center;
            }
            .achievement-item-bg{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 0;
            }
            .achievement-item-text{
                display: grid;
                flex: 1;
                z-index: 1;
                .name{
                    font-size: 26px;
                }
                .description{
                    color: #a1a1a1;
                }
                .prize{
                    display: flex;
                    align-items: center;
                    gap: .5em;
                    .coin-icon{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .achievement-item-icon{
                width: 100px;
                height: 100px;
                z-index: 1;
            }
            .completed-text{
                font-size: 20px;
                z-index: 1;
            }
            &.completed{
                opacity: 1;
                .completed-text{
                    color: #2ab12a;
                }
            }
        }
    }
}

.pocket-container{
    width: 860px;
    .pocket-header{
        @include headerStyle();
    }
    
    span{
        color: #999999
    }
    .pocket-main-info{
        display: flex;
        gap: .5em;
        font-size: 24px;
        margin-top: 1em;
        p{margin: .5em}
        img{
            width: 100px;
            height: 100px;
        }
        .pocket-discription{
            font-size: 18px;
        }
    }
}


@media screen and (max-width: 900px) {
    .pocket-container, .achievement-container{
        width: 700px;
    }
}

@media screen and (max-width: 730px) {
    .pocket-container, .achievement-container{
        width: 600px;
    }
}
@media screen and (max-width: 630px) {
    .achievement-container{
        width: 500px;
        .achievement-item{
            .achievement-item-text{
                .name{
                    font-size: 22px !important;
                }
                .description{
                    font-size: 13px !important;
                }
                .prize{
                    font-size: 14px !important;
                    .coin-icon{
                        width: 20px !important;
                        height: 20px !important;
                    }
                    .pocket-icon{
                        img{
                            width: 25px !important;
                            height: 25px !important;
                        }
                    }
                }
            }
            .completed-text{
                font-size: 18px !important;
            }
            .achievement-item-icon{
                width: 90px !important;
                height: 90px !important;
            }
        }
    }
    .pocket-container{
        width: 500px;
        
        .pocket-header{
            p{
                font-size: 26px;
            }
            img.back-icon{
                width: 37px;
                height: 37px;
            }
        }
        
        .pocket-main-info{
            font-size: 22px;
            img{
                width: 90px;
                height: 90px;
            }
            .pocket-discription{
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .achievement-container{
        width: 400px;
        .achievement-items{
            gap: .7em;
            margin-top: 1em !important;
        }
        .achievement-page-header{
            p{
                font-size: 26px !important;
            }
            img.back-icon{
                width: 37px;
                height: 37px;
            }
        }
        .achievement-item{
            .achievement-item-text{
                .name{
                }
                .description{
                }
                .prize{
                    .coin-icon{
                    }
                    .pocket-icon{
                        img{
                        }
                    }
                }
            }
            
            .completed-text{
                position: absolute;
                transform: rotate(90deg);
                font-size: 12px !important;
                right: -20px;
                top: 55px;
                text-align: right;
            }
            .achievement-item-icon{
                width: 70px !important;
                height: 70px !important;
            }
        }
    }
    .pocket-container{
        width: 400px;
        
        .pocket-header{
            p{
                font-size: 24px;
            }
            img.back-icon{
                width: 35px;
                height: 35px;
            }
        }
        
        .pocket-main-info{
            font-size: 20px;
            img{
                width: 80px;
                height: 80px;
            }
            .pocket-discription{
                font-size: 16px;
            }
        }
    }
}


@media screen and (max-width: 430px) {
    .achievement-container{
        width: 90%;
        .achievement-items{
            gap: .5em;
            margin-top: .7em !important;
        }
        .achievement-page-header{
            p{
                font-size: 24px !important;
            }
            img.back-icon{
                width: 35px;
                height: 35px;
            }
        }
        .achievement-item{
            padding: .7em !important;
            gap: .5em !important;
            .achievement-item-text{
                .name{
                    font-size: 16px !important;
                }
                .description{
                    font-size: 10px !important;
                }
                .prize{
                    font-size: 12px !important;
                    .coin-icon{
                        width: 17px !important;
                        height: 17px !important;
                    }
                    .pocket-icon{
                        p{
                            font-size: 18px;
                        }
                        img{
                            width: 20px !important;
                            height: 20px !important;
                        }
                    }
                }
            }
            
            .completed-text{
                display: none;
            }
            .achievement-item-icon{
                width: 50px !important;
                height: 50px !important;
            }
        }
    }
    
    .pocket-container{
        width: 90%;
        
        .pocket-header{
            p{
                font-size: 22px;
            }
            img.back-icon{
                width: 33px;
                height: 33px;
            }
        }
        
        .pocket-main-info{
            font-size: 16px;
            display: grid;
            img{
                width: 100px;
                height: 100px;
            }
            .pocket-discription{
                font-size: 16px;
            }
        }
    }
}